.card-to-click:hover {
  /* background-color: aliceblue; */
  /* /* transform: scale(1.01); */
  transition: .5s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add a shadow */
}

.side_bar_large{
  position: fixed;
  z-index: 1;
}
.main_cont{
  padding-left: 38vw;
  padding-top: 50px;
  position: relative;
}
.sidebar_inner{
  display: flex;
}
.sidebar_inner_small{
  display: none;
}
.social_icons{
  width: 80px;
  height: 80px;
  background-color: antiquewhite;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 60px;
  border-radius: 20px;
}
.icon{
  transform: scale(1.8);
  cursor: pointer;
}
.about_div{
  padding-top: 80px;
}
.about_para{
  line-height: 1.8;
  padding-top: 20px;
  font-size: large;
}
.ratingFeedback_div{
  padding-top: 80px;
}
.rating_div{
  display: flex;
}
.rating_div{
  margin-right: 30px;
  margin-top: 30px;
}
.text_feedbacks{
  margin-top: 50px;
  display: flex;
  
}
@media (max-width: 480px){
  .sidebar_inner{
    display: none;
  }
  .main_cont{
    padding-left: 0;
    padding-top: 120px;
    position: relative;
    padding-left: 5vw;
  }
  .side_bar_small{
    position: absolute;
  }
  .sidebar_inner_small{
    display: flex;
    position: fixed;
    z-index: 1;
  }
  .option_div{
    position: fixed;
    z-index: 1;
    background-color: rgb(239, 239, 239);
    border-radius: 5px;
  }
  .content_div{
    padding-top: 40px;
  }
  .social_icons{
    width: 50px;
    height: 50px;
    margin-right: 25px;
    border-radius: 5px;
  }
  .rating_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .rating_div{
    margin-top: 50px;
  }
  .text_feedbacks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }
}